<style>
    .logoff_btn{
        border:0;
    }
</style>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
          <div class="btn-group btn-group-justified" role="group" aria-label="底部菜单功能">
              <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default navbar-brand">工作区</button>
              </div>
              <div class="btn-group dropup" role="group">
                  <button type="button" class="btn btn-default navbar-brand dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      我
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                      <li>
                          @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                          {
                              @Html.AntiForgeryToken()
                              <input type="submit" class="btn btn-default btn-block logoff_btn" value="退出登录" />
                          }
                      </li>
                      <li>
                          <a href="#" class="text-center">修改密码</a>
                      </li>
                  </ul>
              </div>

          </div>
      </div>
    </div>
</nav>